h2 {
    text-align: center;
}

label{
    font-family: Arial;
    font-size: 12px;
    align-items: center ;
    
    }

#nome {
    margin-left: 27px;
}
#rg1{
    margin-right: 35px;
}
#rg{
    margin-left: 10px;
}

#cpf1 {
    margin-left: 37px;
}

#cpf{
    margin-left: 80px;
}

#data-nasc{
    margin-left: 110px;
    margin-right: 1px;
}

#endereco{
    margin-left: 7px;
}

form {
    width: 500px;
    border: none;
    display: inline-block;
    margin-right: 20px;
}